<template>
    <div>
      <input type="text" v-model="username" class="form-control" placeholder="username">
      <input  type="password" v-model="password" class="form-control" placeholder="password">
      <div>
        <button type="button" class="btn btn-primary" @click="register()">Register</button>
        <button type="button" class="btn btn-primary" @click="login()">Login</button>
        
          
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Login failed cause of {{fail_message}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
          
  
      </div>
    </div>
  </template>
  
  
  